// REESCRIBIR VARIABLES DE BOOTSTRAP ANTES DEL IMPORT
$rojo: #f34f51;
$verde: #0098ae;
$oscuro: #212121;
$gris: #b5b5b5;

// Asignar paleta de colores a Bootstrap
$primary: $rojo;
$secondary: $verde;
$dark: $oscuro;

/* Tipografia */
$display-font-weight: 900;
$headings-font-weight: 700;

/* cards */
$card-border-color: transparent;

/* Nav Link */
$nav-link-padding-x:                0;
$nav-link-color:                    $gris;
$nav-link-hover-color:              darken($gris, 10%); 

//IMPORTAR BOOTSTRAP
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

